{{ define "main" }}

<style>
html {
    overflow: hidden;
}

.main {
    max-width: unset;
    padding: unset;
}

.iframe-fullpage {
    height: calc(100vh - var(--header-height));
    border: none;
}

@media screen and (max-width: 577px) {
    .iframe-fullpage {
        height: calc(100vh - (var(--header-height) * 2));
    }
}
</style>

<div id="iframe-loader">
    <div class="loader"></div>
</div>

<iframe
    class="iframe-fullpage"
    title="{{ .Title }}"
    width="100%"
    height="100%"
    allow="fullscreen"
    onload="on_iframe_loaded()"
    src="{{ .Params.iframe }}">
    <p>Your browser does not support iframes. You can access the content <a href="{{ .Params.iframe }}">here</a></p>
</iframe>

<script>
    const loader = document.getElementById('iframe-loader');
    function on_iframe_loaded() {
        loader.style.visibility = 'hidden';
    }
</script>

{{ end  }}{{/* end main */}}
