/* 404
-------------------------------------------------- */
.not-found {
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    font-size: 160px;
    font-weight: 700;
}

/* Main
-------------------------------------------------- */

.iframe-fullpage {
    display: grid;
    max-width: unset;
    padding: 0;
    min-height: calc(100vh - var(--header-height));
}

.iframe-fullpage iframe {
    border: none;
}

/* Header
-------------------------------------------------- */

.sub-menu {
    position: absolute;
    visibility: hidden;
    list-style: none;
    z-index: 10;
}

.menu-item:hover .sub-menu {
    visibility: visible;
    display: block;
}

.sub-menu:hover {
    visibility: visible;
}

.arrow-down {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid var(--primary);
    position: relative;
    top: 1em;
    left: 6px;
}
